@font-face {
    font-family: 'Larsseit-Light';
    src: url(../fonts/Larsseit-Light.woff2);
}
@font-face {
    font-family: 'Larsseit-Regular';
    src: url(../fonts/Larsseit.woff2);
}
@font-face {
    font-family: 'Larsseit-Medium';
    src: url(../fonts/Larsseit-Medium.woff2);
}
@font-face {
    font-family: 'Larsseit-Bold';
    src: url(../fonts/Larsseit-Bold.woff2);
}